@model WebApiClient.Models.EspecieGetModel
@using WebApiClient.Models;

@{
    ViewData["Title"] = "View";
}

<h1>Asignación a ecosistemas</h1>

<h4>Asignación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Asignar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label class="control-label">Seleccione el ecosistema</label>
            <select name="EcosistemasSelect" id="EcosistemasSelect" class="form-control">
                @foreach (EcosistemaModel item in ViewBag.Ecosistemas)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>

            <label class="control-label">Seleccione las especies</label>
            <select name="EspeciesSelect" id="EspeciesSelect" class="form-control">
                @foreach (EspecieGetModel item in ViewBag.Especies)
                {
                    <option value="@item.Id">@item.NombreVulgar</option>
                }
            </select>

            <div class="form-group">
                <input type="submit" value="Asignar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<br />

<p id="Mensaje">@ViewBag.msg</p>

