@model IEnumerable<WebApiClient.Models.EspecieGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PesoMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PesoMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.largoMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LargoMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCientifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVulgar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.largoMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LargoMax)
            </td>
            <td>
                <img src="~/img/Especie/@item.Imagen" class="img-thumbnail" />
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
