@model WebApiClient.Models.EcosistemaAltaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EcosistemaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UbicacionLat" class="control-label">Latitud</label>
                <input asp-for="UbicacionLat" class="form-control" />
                <span asp-validation-for="UbicacionLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UbicacionLon" class="control-label">Longitud</label>
                <input asp-for="UbicacionLon" class="form-control" />
                <span asp-validation-for="UbicacionLon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Seleccione las amenazas</label>
                <select multiple="multiple" name="amenazas[]" id="amenazas" class="form-control">

                    @if (ViewBag.Amenazas != null)
                    {
                        @foreach (AmenazaModel item in ViewBag.Amenazas)
                        {
                            <option value="@item.Id">@item.Descripcion</option>
                        }
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="Conservacion.Id" class="control-label">Estado de conservación</label>
                <select asp-for="Conservacion.Id" id="ConservacionSelect" class="form-control">
                    @if (ViewBag.Conservaciones != null)
                    {
                        @foreach (ConservacionModel item in ViewBag.Conservaciones)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="Conservacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pais.Id" class="control-label">Pais</label>
                <select asp-for="Pais.Id" id="PaisSelect" class="form-control">
                    @if (ViewBag.Paises != null)
                    {
                        @foreach (PaisModel item in ViewBag.Paises)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>


            
            
            <div class="form-group">
                <label class="control-label">Seleccionar imagen</label>
                <input type="file" name="foto" id="foto" class="form-control" accept="image/png, image/jpeg, image/jpg" />
                <span asp-validation="foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<p id="Mensaje">@ViewBag.Mensaje</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
