@model IEnumerable<WebApiClient.Models.UsuarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </th>
      @*      <th>
                @Html.DisplayNameFor(model => model.ContraEncriptada)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenia)
            </td>
       @*     <td>
                @Html.DisplayFor(modelItem => item.ContraEncriptada)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<p id="Mensaje">@ViewBag.Mensaje</p>